.team {
    display: block;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        gap: 30px;
    }
}

.team__item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.team__description {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: 768px) {
        padding-left: 74px;
        padding-right: 74px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 30px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

.team__title {
    margin-bottom: 10px;
    @include font(16px, 500, 18.75px);
    text-align: center;
    letter-spacing: 0.03em;
}

.team__text {
    margin-bottom: 16px;
    @include font(16px, 400, 18.75px);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}